.featured-post {
  @include clearfix;
  margin-bottom: 40px;
}

// .featured-post-image, .featured-post-content {
//   @include inline-block;
// }

.featured-post-image {
  @include col(6);
  padding-top: 32.25%;
  background-size: cover;
  background-position: center;
}

.featured-post-content {
  @include col(6);
}