.featured-post {
  @include clearfix;
  margin-bottom: 40px;
}
.featured-post-image, .featured-post-content {
  display: inline-block;
}

.featured-post-image {
  @include col(6);
  height: 320px;
  background-size: cover;
  background-position: center center;
  padding: 0;
}

.featured-post-content {
  @include col(6);
  padding-left: 40px;
}