.site-search {
  label {
    @include visually-hidden;
  }
  input[type=text] {
    border: 1px solid #dedfe0;
    border-radius: 4px;
    width: 228px;
    padding: 6px 9px;
    outline: none;
    color: #6b6b6b;
  }

  input[type=text]:focus {
    border: 1px solid $color-magenta;
  }
}