.site-search {
  label {
    @include visually-hidden;
  }
  input[type=text] {
    border: 1px solid $color-grey-light;
    border-radius: 4px;
    width: 90%;
    padding: 6px 9px;
    outline: none;
    color: #6b6b6b;
    @include bp(460px) {
      width: 100%;
    }
  }

  input[type=text]:focus {
    border: 1px solid $color-magenta;
  }
}

#commentform {
  textarea {
    width: 100%;
    outline: none;
    &:focus {
      border: 1px solid $color-magenta;      
    }
  }
  input[type="submit"] {
    border: none;
    background-color: $color-magenta;
    color: #fff;
    padding: $spacing / 2 $spacing;
    border-radius: 4px;
    float: right;
  }
}