.header {
  margin: 2 * $spacing 0;
  @include pie-clearfix;
  position: relative;
}

.logo, .categories, .archives, .site-search {
  display: inline-block;
  width: 25%;
  float: left;
}

.social-follow {
  position: absolute;
  right: 0;
  bottom: 0;
}

.categories {
  vertical-align: top;
}

.categories li {
  padding-left: 40px;
  margin-bottom: $spacing / 2;
}

input[type=text] {
  border: 1px solid #dedfe0;
  border-radius: 4px;
  width: 200px;
  padding: 6px 9px;
  outline: none;
  color: #6b6b6b;
}

input[type=text]:focus {
  border: 1px solid #ff3366;
}