.header {
  padding: 2 * $spacing $spacing;
  @include pie-clearfix;
  position: relative;
  @include bp(460px) {
    padding: $spacing;
  }
}

.logo, 
.categories, 
.archives, 
.site-search {
  width: 25%;
  float: left;
}
.logo {
  @include bp(460px) {
    width: 150px;
    height: auto;
  }
}

.categories {
  vertical-align: top;
  @include bp(460px) {
    width: 100%;
    float:none;
  }
  li {
    padding-left: 40px;
    margin-bottom: $spacing / 2;
    &:last-child {
      margin-bottom: 0;
    }    
  }
  ul {
    margin-bottom: 0;
  }
}

.archives {
  @include bp(467px) {
    display: block;
    float: none;
  }
}

.site-search {
  @include bp(460px) {
    display: block;
    float: none;
  }
}

.social-follow {
  position: absolute;
  right: 20px;
  bottom: 40px;
}

.social-follow svg {
  fill: #ff3366;
}

.social-follow p {
  display: inline-block;
  vertical-align: top;
  padding-top: $spacing / 2;
  @include bp(460px) {
    @include visually-hidden;
  }
  a {
    padding-left: $spacing / 2;
  }
}

.navigation-button {
  display: none;
  @include bp(460px) {
    display: block;
    position: absolute;
    top: 20px;
    right: 20px;
  }
}

.navigation {
  @include pie-clearfix;
  @include bp(460px) {
    display: none;
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
    background: #fff;
    padding: $spacing;
  }
}