#container {
  @include clearfix;
}
.post {
  @include col(3);
  margin-bottom: $spacing;
  padding-top: $spacing;
  padding-bottom: $spacing;
  &:hover {
    background: $color-magenta;
    color: #fff;
  }
  @include bp(800px) {
    @include col(6);
    padding-top: $spacing;
    padding-bottom: $spacing;
  }
  @include bp(460px) {
    @include col(12);
    padding-top: $spacing;
    padding-bottom: $spacing;
  }
}

.post:hover a {
  color: #fff;
}

.post img {
  width: 100%;
  height: auto;
  margin-bottom: $spacing;
}

.post p {
  margin-bottom: 10px;
}

.post-categories > a {
  color: $color-grey-light;
}

.post-meta {
  color: $color-grey-light;
  a {
    color: $color-grey-light;
  }
}