html {
  @include box-sizing(border-box);
}

*, *:before, *:after {
  @include box-sizing(inherit);
}

body {
  font-family: 'Helvetica-Neue', Helvetica, Arial, sans-serif;
  font-size: 14px; 
  font-weight: normal;
  color: $color-text;
}

#wrapper {
  width: $max-width;
  max-width: 100%;
  margin: 0 auto;
  @include bp(1000px) {
    padding: 0 $spacing;
  }
}

.site-content {
  @include clearfix;
  padding: 2 * $spacing 0; 
  border-top: 1px solid $color-grey-light;
  border-bottom: 1px solid $color-grey-light;
}

ul, ol {
  list-style-type: none;
  margin-bottom: $spacing;
}

h1, h2, h3 {
  font-weight: bold;
  margin-bottom: $spacing;
}

h1 {
  font-size: 2em;
  line-height: 1.2;
}

h2 {
  font-size: 1.5em;
}

h3 {
  font-size: 1.2em;
}

a {
  text-decoration: none;
  color: $color-text;
  &:hover {
    color: $color-magenta;
  }
}

p {
  line-height: 1.3;
  margin-bottom: $spacing;
}

p:last-of-type {
  margin-bottom: 0;
}

img {
  max-width: 100%;
}

.grey {
  color: $color-grey-light;
}

strong {
  font-weight: bold;
}