body {
  font-family: 'Helvetica-Neue', Helvetica, Arial, sans-serif;
  font-size: 13px; 
  font-weight: normal;
  color: #333;
}

#wrapper {
  @include column(12);
}

ul, ol {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: #333;

  &:hover {
    color: #ff3366;
  }
}