.single-post-title {
  margin-left: 25%;
}

.post-content {
  width: 75%;
  float: right;
}

.post-aside {
  position: fixed;
  width: 25%;
  float: left;
  margin-top: -37px;
}

.post-nav ul {
  margin-top: 26px;
}

.post-nav p {
  vertical-align: middle;
  display: inline-block;
}

.email, .facebook, .twitter, .google, .tumblr, .pinterest, .linkedin {
  vertical-align: middle;
  display: inline-block;
  width: 30px;
  height: 30px;
}

.email { background: url("../images/logo-sprite.png") 30px 0px; }
.facebook { background: url("../images/logo-sprite.png") 30px -30px; }
.twitter { background: url("../images/logo-sprite.png") 30px -60px; }
.google { background: url("../images/logo-sprite.png") 30px -90px; }
.tumblr { background: url("../images/logo-sprite.png") 30px -120px; }
.pinterest { background: url("../images/logo-sprite.png") 30px -150px; }
.linkedin { background: url("../images/logo-sprite.png") 30px -180px; }

.single-post-meta {
  margin: $spacing 0;
}

.post-tags,
.post-comment {
  margin: 2 * $spacing 0;
}

#respond {
  @include pie-clearfix;
}