/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
/* line 5, ../../../../../../.rbenv/versions/2.1.5/lib/ruby/gems/2.1.0/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../../.rbenv/versions/2.1.5/lib/ruby/gems/2.1.0/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../../.rbenv/versions/2.1.5/lib/ruby/gems/2.1.0/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../../.rbenv/versions/2.1.5/lib/ruby/gems/2.1.0/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../../.rbenv/versions/2.1.5/lib/ruby/gems/2.1.0/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../../.rbenv/versions/2.1.5/lib/ruby/gems/2.1.0/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../../.rbenv/versions/2.1.5/lib/ruby/gems/2.1.0/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../../.rbenv/versions/2.1.5/lib/ruby/gems/2.1.0/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../../.rbenv/versions/2.1.5/lib/ruby/gems/2.1.0/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

/* line 1, ../sass/partials/_layout.scss */
html {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

/* line 5, ../sass/partials/_layout.scss */
*, *:before, *:after {
  -webkit-box-sizing: inherit;
  -moz-box-sizing: inherit;
  box-sizing: inherit;
}

/* line 9, ../sass/partials/_layout.scss */
body {
  font-family: 'Helvetica-Neue', Helvetica, Arial, sans-serif;
  font-size: 14px;
  font-weight: normal;
  color: #333;
}

/* line 16, ../sass/partials/_layout.scss */
#wrapper {
  width: 1000px;
  max-width: 100%;
  margin: 0 auto;
}
@media (max-width: 1000px) {
  /* line 16, ../sass/partials/_layout.scss */
  #wrapper {
    padding: 0 20px;
  }
}

/* line 25, ../sass/partials/_layout.scss */
.site-content {
  padding: 40px 0;
  border-top: 1px solid #dedfe0;
  border-bottom: 1px solid #dedfe0;
}
/* line 2, ../sass/partials/_mixins.scss */
.site-content:before, .site-content:after {
  content: "";
  display: table;
}
/* line 7, ../sass/partials/_mixins.scss */
.site-content:after {
  clear: both;
}

/* line 32, ../sass/partials/_layout.scss */
ul, ol {
  list-style-type: none;
  margin-bottom: 20px;
}

/* line 37, ../sass/partials/_layout.scss */
h1, h2, h3 {
  font-weight: bold;
  margin-bottom: 20px;
}

/* line 42, ../sass/partials/_layout.scss */
h1 {
  font-size: 2em;
  line-height: 1.2;
}

/* line 47, ../sass/partials/_layout.scss */
h2 {
  font-size: 1.5em;
}

/* line 51, ../sass/partials/_layout.scss */
h3 {
  font-size: 1.2em;
}

/* line 55, ../sass/partials/_layout.scss */
a {
  text-decoration: none;
  color: #333;
}
/* line 58, ../sass/partials/_layout.scss */
a:hover {
  color: #ff3366;
}

/* line 63, ../sass/partials/_layout.scss */
p {
  line-height: 1.3;
  margin-bottom: 20px;
}

/* line 68, ../sass/partials/_layout.scss */
p:last-of-type {
  margin-bottom: 0;
}

/* line 72, ../sass/partials/_layout.scss */
img {
  max-width: 100%;
}

/* line 76, ../sass/partials/_layout.scss */
.grey {
  color: #dedfe0;
}

/* line 80, ../sass/partials/_layout.scss */
strong {
  font-weight: bold;
}

/* line 1, ../sass/partials/_header.scss */
.header {
  padding: 40px 0;
  *zoom: 1;
  position: relative;
}
/* line 38, ../../../../../../.rbenv/versions/2.1.5/lib/ruby/gems/2.1.0/gems/compass-core-1.0.1/stylesheets/compass/utilities/general/_clearfix.scss */
.header:after {
  content: "";
  display: table;
  clear: both;
}
@media (max-width: 460px) {
  /* line 1, ../sass/partials/_header.scss */
  .header {
    padding: 20px 0;
  }
}

/* line 10, ../sass/partials/_header.scss */
.logo,
.categories,
.site-search {
  width: 25%;
  float: left;
}

@media (max-width: 460px) {
  /* line 16, ../sass/partials/_header.scss */
  .logo {
    width: 150px;
    height: auto;
  }
}

/* line 23, ../sass/partials/_header.scss */
.categories {
  vertical-align: top;
}
@media (max-width: 460px) {
  /* line 23, ../sass/partials/_header.scss */
  .categories {
    width: 100%;
    float: none;
    margin-bottom: 20px;
  }
}
/* line 30, ../sass/partials/_header.scss */
.categories li {
  padding-left: 40px;
  margin-bottom: 10px;
}
/* line 33, ../sass/partials/_header.scss */
.categories li:last-child {
  margin-bottom: 0;
}
@media (max-width: 460px) {
  /* line 30, ../sass/partials/_header.scss */
  .categories li {
    padding-left: 0;
  }
}
/* line 40, ../sass/partials/_header.scss */
.categories ul {
  margin-bottom: 0;
}

@media (max-width: 460px) {
  /* line 45, ../sass/partials/_header.scss */
  .site-search {
    display: block;
    float: none;
    width: 100%;
  }
}

/* line 53, ../sass/partials/_header.scss */
.social-follow {
  position: absolute;
  right: 0;
  bottom: 40px;
}
@media (max-width: 460px) {
  /* line 53, ../sass/partials/_header.scss */
  .social-follow {
    bottom: 20px;
  }
}

/* line 62, ../sass/partials/_header.scss */
.social-follow svg {
  fill: #ff3366;
}

/* line 66, ../sass/partials/_header.scss */
.social-follow p {
  display: inline-block;
  vertical-align: top;
  padding-top: 10px;
}
@media (max-width: 460px) {
  /* line 66, ../sass/partials/_header.scss */
  .social-follow p {
    position: absolute;
    left: -9999px;
    overflow: hidden;
  }
}
/* line 73, ../sass/partials/_header.scss */
.social-follow p a {
  padding-left: 10px;
}

/* line 78, ../sass/partials/_header.scss */
.navigation-button {
  display: none;
}
@media (max-width: 460px) {
  /* line 78, ../sass/partials/_header.scss */
  .navigation-button {
    display: block;
    position: absolute;
    top: 20px;
    right: 0;
    z-index: 2;
  }
}

/* line 89, ../sass/partials/_header.scss */
.navigation {
  *zoom: 1;
}
/* line 38, ../../../../../../.rbenv/versions/2.1.5/lib/ruby/gems/2.1.0/gems/compass-core-1.0.1/stylesheets/compass/utilities/general/_clearfix.scss */
.navigation:after {
  content: "";
  display: table;
  clear: both;
}
@media (max-width: 460px) {
  /* line 89, ../sass/partials/_header.scss */
  .navigation {
    display: none;
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
    background: #fff;
    padding: 60px 20px 20px;
    z-index: 1;
  }
}

/* line 103, ../sass/partials/_header.scss */
.show {
  display: block;
}

/* line 1, ../sass/partials/_footer.scss */
footer {
  *zoom: 1;
  padding: 40px 20px;
}
/* line 38, ../../../../../../.rbenv/versions/2.1.5/lib/ruby/gems/2.1.0/gems/compass-core-1.0.1/stylesheets/compass/utilities/general/_clearfix.scss */
footer:after {
  content: "";
  display: table;
  clear: both;
}
/* line 4, ../sass/partials/_footer.scss */
footer .disclaimer,
footer .archives {
  width: 50%;
  float: left;
}

/* line 2, ../sass/partials/_mixins.scss */
#container:before, #container:after {
  content: "";
  display: table;
}
/* line 7, ../sass/partials/_mixins.scss */
#container:after {
  clear: both;
}

/* line 4, ../sass/partials/_index.scss */
.post {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  float: left;
  padding: 0 20px;
  width: 25%;
  margin-bottom: 20px;
  padding-top: 20px;
  padding-bottom: 20px;
}
/* line 9, ../sass/partials/_index.scss */
.post:hover {
  background: #ff3366;
  color: #fff;
}
@media (max-width: 800px) {
  /* line 4, ../sass/partials/_index.scss */
  .post {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    float: left;
    padding: 0 20px;
    width: 50%;
    padding-top: 20px;
    padding-bottom: 20px;
  }
}
@media (max-width: 460px) {
  /* line 4, ../sass/partials/_index.scss */
  .post {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    float: left;
    padding: 0 20px;
    width: 100%;
    padding-top: 20px;
    padding-bottom: 20px;
  }
}

/* line 25, ../sass/partials/_index.scss */
.post:hover a {
  color: #fff;
}

/* line 29, ../sass/partials/_index.scss */
.post img {
  width: 100%;
  height: auto;
  margin-bottom: 20px;
}

/* line 35, ../sass/partials/_index.scss */
.post p {
  margin-bottom: 10px;
}

/* line 39, ../sass/partials/_index.scss */
.post-categories > a {
  color: #dedfe0;
}

/* line 43, ../sass/partials/_index.scss */
.post-meta {
  color: #dedfe0;
}
/* line 45, ../sass/partials/_index.scss */
.post-meta a {
  color: #dedfe0;
}

/* line 1, ../sass/partials/_post.scss */
.single-post-title {
  margin-left: 25%;
}

/* line 5, ../sass/partials/_post.scss */
.post-content {
  width: 75%;
  float: right;
}

/* line 10, ../sass/partials/_post.scss */
.post-aside {
  position: fixed;
  width: 25%;
  float: left;
  margin-top: -37px;
}

/* line 17, ../sass/partials/_post.scss */
.post-nav ul {
  margin-top: 26px;
}

/* line 21, ../sass/partials/_post.scss */
.post-nav p {
  vertical-align: middle;
  display: inline-block;
}

/* line 26, ../sass/partials/_post.scss */
.email, .facebook, .twitter, .google, .tumblr, .pinterest, .linkedin {
  vertical-align: middle;
  display: inline-block;
  width: 30px;
  height: 30px;
}

/* line 33, ../sass/partials/_post.scss */
.email {
  background: url("../images/logo-sprite.png") 30px 0px;
}

/* line 34, ../sass/partials/_post.scss */
.facebook {
  background: url("../images/logo-sprite.png") 30px -30px;
}

/* line 35, ../sass/partials/_post.scss */
.twitter {
  background: url("../images/logo-sprite.png") 30px -60px;
}

/* line 36, ../sass/partials/_post.scss */
.google {
  background: url("../images/logo-sprite.png") 30px -90px;
}

/* line 37, ../sass/partials/_post.scss */
.tumblr {
  background: url("../images/logo-sprite.png") 30px -120px;
}

/* line 38, ../sass/partials/_post.scss */
.pinterest {
  background: url("../images/logo-sprite.png") 30px -150px;
}

/* line 39, ../sass/partials/_post.scss */
.linkedin {
  background: url("../images/logo-sprite.png") 30px -180px;
}

/* line 41, ../sass/partials/_post.scss */
.single-post-meta {
  margin: 20px 0;
}

/* line 45, ../sass/partials/_post.scss */
.post-tags,
.post-comment {
  margin: 40px 0;
}

/* line 50, ../sass/partials/_post.scss */
#respond {
  *zoom: 1;
}
/* line 38, ../../../../../../.rbenv/versions/2.1.5/lib/ruby/gems/2.1.0/gems/compass-core-1.0.1/stylesheets/compass/utilities/general/_clearfix.scss */
#respond:after {
  content: "";
  display: table;
  clear: both;
}

/* line 1, ../sass/partials/_featured.scss */
.featured-post {
  margin-bottom: 40px;
}
/* line 2, ../sass/partials/_mixins.scss */
.featured-post:before, .featured-post:after {
  content: "";
  display: table;
}
/* line 7, ../sass/partials/_mixins.scss */
.featured-post:after {
  clear: both;
}

/* line 6, ../sass/partials/_featured.scss */
.featured-post-image {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  float: left;
  padding: 0 20px;
  width: 50%;
  padding-top: 32.25%;
  -moz-background-size: cover;
  -o-background-size: cover;
  -webkit-background-size: cover;
  background-size: cover;
  background-position: center;
}
@media (max-width: 800px) {
  /* line 6, ../sass/partials/_featured.scss */
  .featured-post-image {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    float: left;
    padding: 0 20px;
    width: 100%;
    padding-top: 54.25%;
    margin-bottom: 20px;
  }
}

/* line 18, ../sass/partials/_featured.scss */
.featured-post-content {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  float: left;
  padding: 0 20px;
  width: 50%;
}
@media (max-width: 800px) {
  /* line 18, ../sass/partials/_featured.scss */
  .featured-post-content {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    float: left;
    padding: 0 20px;
    width: 100%;
    padding: 0;
  }
}

/* line 26, ../sass/partials/_featured.scss */
.featured-categories {
  margin-bottom: 20px;
}

/* line 30, ../sass/partials/_featured.scss */
.featured-categories > a {
  color: #a1a1a1;
}

/* line 1, ../sass/partials/_archive.scss */
.archives-title {
  text-align: center;
}

/* line 2, ../sass/partials/_forms.scss */
.site-search label {
  position: absolute;
  left: -9999px;
  overflow: hidden;
}
/* line 5, ../sass/partials/_forms.scss */
.site-search input[type=text] {
  border: 1px solid #dedfe0;
  border-radius: 4px;
  width: 90%;
  padding: 6px 9px;
  outline: none;
  color: #6b6b6b;
}
@media (max-width: 460px) {
  /* line 5, ../sass/partials/_forms.scss */
  .site-search input[type=text] {
    width: 100%;
  }
}
/* line 17, ../sass/partials/_forms.scss */
.site-search input[type=text]:focus {
  border: 1px solid #ff3366;
}

/* line 23, ../sass/partials/_forms.scss */
#commentform textarea {
  width: 100%;
  outline: none;
}
/* line 26, ../sass/partials/_forms.scss */
#commentform textarea:focus {
  border: 1px solid #ff3366;
}
/* line 30, ../sass/partials/_forms.scss */
#commentform input[type="submit"] {
  border: none;
  background-color: #ff3366;
  color: #fff;
  padding: 10px 20px;
  border-radius: 4px;
  float: right;
}
