// grid
$max-width:               1000px;
$bs-columns:              12;
$column-width:            $max-width / $bs-columns;
$gutter:                  40px;
$spacing: 20px;

// colors
$color-magenta: #ff3366;
$color-grey: #a1a1a1;
$color-grey-light: #dedfe0;
$color-text: #333;