$max-width:               1000px;
$bs-columns:              12;
$column-width:            $max-width / $bs-columns;
$gutter:                  40px;

// colors

$color-grey-light: #a1a1a1;

$spacing: 20px;